---
import Layout from '../layouts/Layout.astro';
import LinkIcon from '../components/common/LinkIcon.astro';
---

<Layout title="Dan Michell">
	<div class="mt-12">
		<a href="https://github.com/dan-michell/dan-michell.cc" target="_blank"><h1 class="text-2xl font-semibold">dan-michell.cc</h1></a>
		<h3 class="text-sm text-gray-500">Thank you for checking out my website. Check out the blog where I occasionally share projects, recent learnings or thoughts.</h3>
		</div>
	</div>
</Layout>


