---
interface Props {
	
}
---

<footer class="w-full h-24 mt-auto flex flex-col justify-center items-center">
	<p class="w-fit text-sm dark:text-gray-400 text-gray-500">Created by Dan Michell</p>
</footer>
