---
import LinkIcon from '../common/LinkIcon.astro'

interface Props {
	
}


const link_props = [
	{
		href: "/",
		displayName: "home"
	},
	{
		href: "/blog",
		displayName: "blog"
	},
	{
		href: "/reading",
		displayName: "reading"
	},
	{
		href: "https://github.com/dan-michell",
		displayName: "github",
		newTab: true
	},
	{
		href: "/about",
		displayName: "about"
	}
]
---
<div class="">
	{link_props.map(iconProps => {
	return <LinkIcon {...iconProps} />
	})}
</div>
