---
import { Image } from "astro:assets";
import Mountains from "../../assets/sidebar-mountains.jpeg"

interface Props {

}
---

<div class="">
	<Image src={Mountains} alt="Mountains in the sidebar." class="" />
	<h1 class="font-semibold sm:text-2xl mt-2">Dan Michell</h1>	
</div>
