---
import SidebarLinks from "./SidebarLinks.astro"

interface Props {

}
---

<div class = `border-2 border-black sm:w-[25vw] flex flex-col justify-between hidden sm:block`>
	<div>
		SIDEBAR
		<SidebarLinks />	
	</div>
</div>
