---
import SidebarLinks from "./SidebarLinks.astro"
import SidebarHeader from "./SidebarHeader.astro"

interface Props {

}
---

<div class = "p-2 max-w-52 md:flex flex-col items-center hidden gap-4">
	<SidebarHeader />	
	<SidebarLinks />	
</div>
