---
import LinkIcon from '../common/LinkIcon.astro'

interface Props {
	
}

const link_props = [
	{
		href: "",
		displayName: "Github",
		iconName: "github", 
		size: "32"
	}
]
---
<div>
	{link_props.map((iconProps) => {
	return <LinkIcon {...iconProps} />
	})}
</div>
