---
import SidebarLinks from "./SidebarLinks.astro"
import SidebarHeader from "./SidebarHeader.astro"

interface Props {

}
---

<div class = "border-2 p-2 sm:w-[25vw] flex flex-col justify-between hidden sm:block">
	<SidebarHeader />	
	<SidebarLinks />	
</div>
