---
import SidebarLinks from "./SidebarLinks.astro"
import Footer from "../Footer.astro"

interface Props {

}
---

<div class = "border-2 border-black sm:w-[25vw] flex flex-col justify-around">
	SIDEBAR
	<SidebarLinks />	
	<Footer />
</div>
