---
import Sidebar from "../components/Sidebar.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Dan Michell - Personal Website." />
		<meta name="viewport" content="width=device-width" />
		<link type="image/png" sizes="32x32" rel="icon" href="/icons8-bicycle-32.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div class="w-[70vw] border-2 border-black m-auto flex">
		<Sidebar></Sidebar>
		<body class="w-[85vw] border-2">
			<slot />
		</body>
	</div>
</html>
