---
import Sidebar from "../components/sidebar/Sidebar.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Dan Michell - Personal Website." />
		<meta name="viewport" content="width=device-width" />
		<link type="image/png" sizes="32x32" rel="icon" href="/icons8-bicycle-32.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen h-screen border-2 border-red-500 p-[1vw]"> 
		<div class="sm:w-[70vw] h-full m-auto border-2 border-blue-500 flex">
			<Sidebar></Sidebar>
			<div class="w-[75vw] border-black border-2">
				<slot />
			</div>
		</div>
	</body>
</html>
